body {
  margin: 0;
  padding: 0;
}

#table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;
  margin-left: 3%;
  margin-top: 3%;
  float: left;

}

.header {
  width: 100%;
  background-color: #2861ca;
  color: #dddddd;
  text-align: center;
  cursor: inherit;
}

.new {
  background-color: #41a12d;
  color: #dddddd;
  text-align: center;
  cursor: pointer;
}

.addNew {
  cursor: inherit;
}

#info {
  background-color: #e7e7e7;
}

#buttons {
  width: 100%;
  height: 10%;
  display: flex;
}

.button {
  width: 15%;
  height: 40px;
  margin-top: 1%;
  cursor: pointer;
  border-radius: 10px;
  border: 0;
  background-color: #9bb8ee;
}

#last {
  float: left;
  margin-left: 1%;

}

#next {
  float: right;
  margin-right: 1%;
}

#qvalue {
  width: 70%;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-top: 1%;
  text-align: center;
}

#value {
  text-align: center;
}

td,th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  min-width: 20px;
  height: 20px;
  cursor: pointer;

}

@media only screen and (max-width: 1000px) {
  #table {
    width: 96%;
    margin-left: 2%;
  }

  td,th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    min-width: 40px;
    height: 40px;
    cursor: pointer;
  }

  #next {
    width: 20%;
    height: 80px;
    font-size: 30px;
  }

  #last {
    width: 20%;
    height: 80px;
    font-size: 30px;
  }

  #qvalue {
    width: 60%;
    height: 100%;
    font-size: 50px;
  }

  .header {
    font-size: 25px;
  }

  .tasks {
    margin-bottom: 10%;
    font-size: 25px;
  }
}